html,
body,
#app {
    height: 100dvh;
    background-color: antiquewhite;
}

#app {
    width: 360px;
    margin-inline: auto;
    position: relative;
    padding: 5px;
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* VARS */
    --purple: rgb(129, 108, 217);
}

.app__heading {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.099);
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.hint {
    text-align: center;
}

/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#app h1,
#app p {
    margin: 0;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

@media (min-width: 768px) {
    #app {
        width: 768px;
        padding: 10px;
        padding-inline: 40px;
    }

    .hint {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
    #app {
        width: 1440px;
        padding: 50px;
        flex-direction: row;
        gap: 50px;
    }

    .hint {
        font-size: 30px;
    }

    .menu {
        gap: 50px;
        align-self: flex-end;
    }

    .app__heading {
        position: absolute;
        top: 50px;
        left: calc(50% - 190px);
        margin-inline: auto;
        font-size: 75px;
    }
}
